### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode